@import "reset.css";
@import "status-bar.css";
@font-face {
  font-family: "sinistre";
  src: url("font/sinistre.woff2") format("woff2"),
    url("font/sinistre.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

body {
  color: white;
  height: 100vh;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif;
  background-image: url(taemin.jpg);
  background-size: 145%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.welcome-header {
  margin-top: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  font-family: "sinistre";
  font-size: 36px;
  margin-bottom: 5px;
}
.welcome-header__text {
  width: 350px;
  font-size: 15px;
  font-weight: 300;
}
.login-form {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 104px 24px 0px 24px;
}
.login-form input {
  padding: 14px 10px;
  border: none;
  border-radius: 13px;
  color: white;
}
.login-form input::placeholder {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 300;
}

.login-form__ip {
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.4);
}

.login-form__bt {
  margin-top: 29px;
  background: #5a6875;
  box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.23);
}

a {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 7px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 300;
}
