@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import "reset.css";

@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/gods.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: white;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif;
  background-color: var(--deepblue);
  font-weight: 300;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash {
  position: fixed;
  height: 100vh;
  top: 0;
  left: -80px;
  z-index: 2;
  animation: hideSplashScreen 1s ease-in-out forwards;
  background-color: black;
  animation-delay: 0.5s;
}

.splash img {
  height: 100vh;
  opacity: 0.5;
}
