.recommended-friends {
  border-bottom: var(--border);
  border-top: var(--border);
  color: var(--gray);
  padding: 15px 0px;
  margin: 17px 0px;
}

.recommended-friends span {
  margin: 90px 0px;
  display: block;
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
}

.open-chat__header h4 {
  font-weight: 500;
  color: var(--gray);
}

.open-chat__header span {
  opacity: 0.4;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.open-post__title {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.open-post__hashtag {
  text-transform: uppercase;
  color: var(--gray);
  margin-bottom: 7px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 7px;
}

.open-post__members-count {
  color: var(--gray);
}

.open-post__members .divider {
  background-color: var(--gray);
  width: 1px;
  height: 15px;
  margin: 0 5px;
}

.open-post__members-status {
  color: hotpink;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  position: absolute;
  bottom: 10px;
  right: 7px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 20px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }

  50% {
    color: red;
    transform: scale(1.3);
  }

  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count i {
  margin-right: 5px;
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s ease-in-out infinite;
}
