@font-face {
  font-family: "sinistre";
  src: url("/css/font/sinistre.woff2") format("woff2"),
    url("/css/font/sinistre.woff") format("woff");
}

.bg_img {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.welcome-header {
  margin-top: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  font-family: "sinistre";
  font-size: 36px;
  margin-bottom: 5px;
}
.welcome-header__text {
  width: 350px;
  font-size: 15px;
  font-weight: 300;
}
.login-form {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 104px 24px 0px 24px;
}
.login-form input {
  padding: 14px 10px;
  border: none;
  border-radius: 13px;
  color: white;
  margin-bottom: 12px;
}

.login-form input:not([type="submit"]) {
  background: rgba(255, 255, 255, 0.3);
  transition: background 0.3s ease-in-out;
}

.login-form input:not([type="submit"]):focus {
  background: rgba(255, 255, 255, 0.4);
}

.login-form input::placeholder {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 300;
}

.login-form input[type="submit"] {
  margin: 29px 0px 14px 0px;
  background-color: var(--blue);
  box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.login-form a {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  text-decoration: none;
  font-weight: 300;
}
