.more-icon-row {
  padding: 30px 0;
  border-bottom: var(--border);
}

.more-suggestions__title {
  padding: 30px 0;
  font-weight: 500;
}

.more-suggestions__icon {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  margin-bottom: 10px;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.more-suggestions__text {
  color: var(--gray);
}

.more-suggestions__icons {
  display: flex;
}
