.settings__setting {
  padding: 20px 0;
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 10px;
}

.settings-setting__column:last-child {
  opacity: 0.4;
}
