.alt-screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 0px 20px;
  font-size: 22px;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:first-child {
  margin-right: auto;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}

.alt-screen-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__title {
  font-weight: 500;
}

.alt-screen-header__column:last-child span:last-child {
  margin-left: 20px;
}
