.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.badge--sm {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  right: -5px;
}
