.icon-row {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon: :last-child {
}

.icon-row__icon i {
  font-size: 30px;
  margin-bottom: 20px;
}

.icon-row__icon span {
  text-align: center;
  font-size: 18px;
}
