.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1c1c1d;
  padding: 17px 30px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
  align-items: center;
}

.nav__a {
  position: relative;
}
.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  font-weight: 600;
  position: absolute;
  left: 23px;
  bottom: 15px;
}

.nav__notification--small {
  color: tomato;
  font-size: 50px;
  position: relative;
  left: 48px;
  bottom: 21px;
}
