.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1c1c1d;
  padding: 15px 25px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
  align-items: center;
}

.nav__a {
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 23px;
  bottom: 15px;
}

@keyframes btnApearAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__li {
  animation: btnApearAnimation 0.5s ease-in-out forwards;
  opacity: 0;
  transform: translatey(80px);
}

.nav__li:nth-child(2) {
  animation-delay: 0.1s;
}

.nav__li:nth-child(3) {
  animation-delay: 0.2s;
}

.nav__li:last-child {
  position: relative;
  animation-delay: 0.3s;
}
