.no-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: "sinistre";
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .no-mobile {
    display: none;
  }
}
