.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 20px 0px 20px;
}

.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
