.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 20px 0px 20px;
}

.screen-header__title {
  font-size: 35px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: var(--horizontal-space);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 0.5s linear infinite;
}
