.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 15px;
}

.user-component__title {
  font-size: 25px;
  font-weight: 400;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.5);
}
