.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component {
  justify-content: space-between;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 26px;
  margin-right: 15px;
}

.user-component__avatar--lg {
  width: 70px;
  height: 70px;
  border-radius: 32px;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 22px;
  margin-right: 35px;
}

.user-component__title {
  font-size: 20px;
  font-weight: 500;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.user-component__title--not-bold {
  font-weight: 300;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  margin-bottom: 7px;
  font-size: 12px;
}

.gray {
  color: var(--gray);
}

.user-component--margin .user-component {
  margin-bottom: 20px;
}
